@use 'sass:map';
@use '@angular/material' as mat;

@use './m3-light-theme';
@use './m3-dark-theme';

// The overlay package provides a way to open floating panels on the screen.
// https://material.angular.io/cdk/overlay/overview
@import '@angular/cdk/overlay-prebuilt.css';

// Own custom styles.
@import './flex-layout';
@import './app-theme';
@import './messages-theme';
@import './notification-icons';
@import './general';

@include mat.core();

$md-gray: (
    50 : #e6e6e6,
    100 : #bfbfbf,
    200 : #959595,
    300 : #6b6b6b,
    400 : #4b4b4b,
    500 : #2b2b2b,
    600 : #262626,
    700 : #202020,
    800 : #1a1a1a,
    900 : #101010,
    A100 : #ee6969,
    A200 : #e93b3b,
    A400 : #f10000,
    A700 : #d80000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

// Dark palette.
$vernissage-gray: mat.m2-define-palette($md-gray);

// =======================================================================
// Enable typography with hierarchy.

// $my-typography: mat.m2-define-typography-config();
// @include mat.typography-hierarchy($my-typography);

// =======================================================================
// White palette.

html {
  // Apply the light theme by default
  @include mat.core-theme(m3-light-theme.$light-theme);
  @include mat.all-component-themes(m3-light-theme.$light-theme);
  // @include material-app-theme(m3-light-theme.$light-theme, $vernissage-gray);

  .dark-theme {
    @include mat.core-color(m3-dark-theme.$dark-theme);

    // Use dark colors for all components.
    @include mat.all-component-colors(m3-dark-theme.$dark-theme);

    // @include material-app-theme(m3-dark-theme.$dark-theme, $vernissage-gray);
  }
}